<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Login Page | CodingNepal</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form>
            <div class="form-control">
                <input type="text" name="email" required>
                <label>Email or phone number</label>
            </div>
            <div class="email error"></div>
            <div class="form-control">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="password error"></div>
            <button type="submit">Sign In</button>
            <div class="form-help"> 
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="#">Need help?</a>
            </div>
        </form>
        <p>New to Movieflix? <a href="/signup">Sign up now</a></p>
        <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot. 
            <a href="#">Learn more.</a>
        </small>
    </div>
    <script>

        const form = document.querySelector('form');
        const emailError=document.querySelector('.email.error')
        const passwordError=document.querySelector('.password.error')
        form.addEventListener('submit',async (e) => {
            e.preventDefault();
            //reset errors
            emailError.textContent='';
            passwordError.textContent='';
        
            // get the values
            const email = form.email.value;
            const password = form.password.value;
        
            try{
                const res = await fetch('/login',{
                    method: 'POST',
                    body: JSON.stringify({email,password}),
                    headers: {'content-type':'application/json'}
                });
                const data=await res.json();
                if(data.errors){
                    emailError.textContent= data.errors.email;
                    passwordError.textContent=data.errors.password;
                }
                if(data.user){
                    location.assign('/');
                }
            }
            catch(err){
                console.log(err);
            }
    
        });
        </script>
</body>
</html>